@model ProductsListViewModel


@foreach (var p in Model.Products)
 {
    @Html.Partial("ProductSummary",p)
 }
<!--Когда механизм Razor обнаруживает атрибутpage-model в элементе div, он обращается
    к классу PageLinkTagHelper(который подключён в _ViewImports.cshtml) для преобразования элемента, что и дает набор ссылок-->
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>